@import '../../../colors';

section {
    flex-direction: column;
    width: 60%;
    margin: auto;
    line-height: 1.6;
    gap: 16px;
    text-align: justify;

    > div {
        flex-direction: column;
        gap: 16px;
    }
    h1 {
        font-size: 26px;
    }
    b {
        font-weight: 700;
    }
    h1,
    h2 {
        text-align: center;
        font-family: 'Chivo Mono';
    }
    .me {
        i {
            color: $red;
        }
    }
    .awards {
        div {
            background-color: $dark2;
            font-size: 13px;
            justify-content: space-between;
            padding: 8px;
            align-items: center;
            border-radius: 8px;
            gap: 16px;

            span {
                white-space: nowrap;
                font-size: 12px;
            }
            i {
                font-size: 16px;
                color: $yellow;
            }
        }
    }
}
@media screen and (max-width: 880px) {
    section {
        width: 80%;
    }
}
@media screen and (max-width: 580px) {
    section {
        width: calc(100% - 16px);
        gap: 8px;

        > div {
            gap: 8px;
        }
        h1 {
            font-size: 22px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
        .awards {
            p {
                text-align: start;
            }
        }
    }
}
