<section>
    <div class="me">
        <h1>I Love What I Do</h1>
        <p>
            I am <b>Jorge Garcia Rodriguez</b>, Computer Systems Engineering student. I stand out in development by combining <b>creativity</b> and <b>logic</b>, which allows me to approach problems in an innovative and efficient way. I have a strong interest in the MEAN stack, although I like to explore and learn new technologies so as not to limit my possibilities. My goal is to develop as a
            <b>full-stack developer</b>, applying my passion for technology and problem solving in each project.
        </p>
        <p>I <i class="fi fi-sr-heart"></i> minimalism and KISS principle.</p>
    </div>
    <div class="awards">
        <h2>Awards</h2>
        <div>
            <p><i class="fi fi-sr-badge"></i> 1st place in the Computer Systems Engineering career, with the "TouchTrack" project at Engineering Week.</p>
            <span>16-11-2023</span>
        </div>
        <div>
            <p><i class="fi fi-sr-badge"></i> 1st place in the 11th programming contest of the Tecnologico Superior de Jalisco at the advanced level.</p>
            <span>09-05-2023</span>
        </div>
    </div>
</section>
