@import '../../../../colors';

nav {
    justify-content: space-between;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: $dark2;

    div{
        gap: 4px;
        flex: 1;
    }
    .navigation {
        justify-content: center;
    }
    .more{
        justify-content: end;
    }
    button,
    a {
        margin: 0;
        padding: 0 8px;
        border-radius: 4px;
        background: none;
        border: none;
        cursor: pointer;
        color: $light;
        font-family: 'Chivo Mono', monospace;
        text-decoration: none;
        text-align: center;
    }
    button:hover,
    a:hover {
        background-color: $purple;
        color: $dark;
        i {
            color: $dark;
        }
    }
    .contactButton {
        border: 1px solid $light;
    }
    .contactButton:hover {
        border-color: $purple;
    }
    .currentSection {
        background-color: $purple;
        color: $dark;
    }
    i {
        position: relative;
        top: 3px;
        font-size: 24px;
    }
}
