<nav class="shadow">
    <div>
        <button [class.currentSection]="numSection === 0" (click)="changeSection(0)"><i class="fi fi-sr-hand-wave"></i></button>
    </div>
    <div class="navigation">
        <button [class.currentSection]="numSection === 1" (click)="changeSection(1)">About Me</button>
        <button [class.currentSection]="numSection === 2" (click)="changeSection(2)">Skills</button>
        <button [class.currentSection]="numSection === 3" (click)="changeSection(3)">Featured Work</button>
    </div>
    <div class="more">
        <button class="contactButton" [hidden]="!(numSection > 0)">Contact me</button>
        <button><i class="fi fi-sr-sun"></i></button>
    </div>
</nav>
