@import '../../../colors';

section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    .category {
        flex-direction: column;
        background-color: $dark2;
        padding: 16px;
        height: max-content;
        gap: 8px;
        border-radius: 8px;

        span {
            font-family: "Chivo Mono";
            font-size: 22px;
            font-weight: 600;
        }
        div {
            gap: 8px;
        }
    }
}
