<section>
    <h1 class="title">Skills</h1>
    <div class="category shadow">
        <span>Frontend</span>
        <div>
            <skill name="HTML5" variant="orange" [percentage]="100" />
            <skill name="CSS3" variant="blue" [percentage]="92" />
            <skill name="JavaScript" variant="yellow" [percentage]="90" />
            <skill name="Sass" variant="purple" [percentage]="83" />
            <skill name="Angular" variant="red" [percentage]="77" />
        </div>
    </div>
    <div class="category shadow">
        <span>Backend</span>
        <div>
            <skill name="Express.js" variant="blue" [percentage]="89" />
            <skill name="Node.js" variant="green" [percentage]="100" />
            <skill name="TypeScript" variant="blue" [percentage]="87" />
            <skill name="ODM" variant="red" [percentage]="100" />
        </div>
    </div>
    <div>
        <div class="category shadow">
            <span>Database</span>
            <div>
                <skill name="MySQL" variant="blue" [percentage]="80" />
                <skill name="MongoDB" variant="green" [percentage]="90" />
            </div>
        </div>
        <div class="category shadow">
            <span>Other languages</span>
            <div>
                <skill name="Java" variant="orange" [percentage]="78"/>
                <skill name="C++" variant="purple" [percentage]="70"/>
                <skill name="GDScript" variant="blue" [percentage]="96"/>
            </div>
        </div>
    </div>
    <div class="category shadow">
        <span>Tools</span>
        <div>
            <skill name="Git" variant="purple" [percentage]="100" />
            <skill name="HTTPie" variant="red" [percentage]="100" />
            <skill name="Visual Studio" variant="blue" [percentage]="100" />
            <skill name="Figma" variant="red" [percentage]="86" />
            <skill name="Linux" variant="orange" [percentage]="100" />
        </div>
    </div>
</section>
