@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;700&display=swap');
@import './colors';

* {
    font-family: 'Geologica', sans-serif;
    color: $light;
}

body,
p,
span,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 100vh;
}
main,
section,
nav,
div {
    display: flex;
}
body {
    background-color: $dark;
}
i {
    position: relative;
    top: 2px;
}
button {
    cursor: pointer;
}

.mono {
    font-family: 'Chivo Mono', monospace;
}

.shadow {
    box-shadow: 0px 0px 4px 0px rgba($color: #000000, $alpha: 0.2);
}

.bgred {
    background-color: $red;
}
.bgorange {
    background-color: $orange;
}
.bgyellow {
    background-color: $yellow;
}
.bggreen {
    background-color: $green;
}
.bgpurple {
    background-color: $purple;
}
.bgblue {
    background-color: $blue;
}