@import '../../../colors';

.box {
    gap: 32px;
}
.image {
    position: relative;
    height: 190px + 32px;
    width: 190px + 32px;
    justify-content: center;
    align-items: center;

    div {
        position: absolute;
        height: 190px + 32px;
        width: 190px + 32px;
        background: linear-gradient($red, $blue);
        border-radius: 50%;
        animation: gradient 6s linear infinite;
    }
    img {
        position: absolute;
        border-radius: 50%;
        width: 190px;
    }
}
@keyframes gradient {
    to {
        transform: rotateZ(0deg);
    }
    from {
        transform: rotateZ(360deg);
    }
}

.me {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 16px;

    p {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        font-size: 38px;
        font-weight: 300;
    }
    .light {
        color: $light;
    }
    .name {
        color: $green;
        font-weight: 700;
        font-size: 36px;
        animation: nameAnimation 8s step-end infinite;
        white-space: nowrap;
    }
    .blue {
        color: $blue;
        font-size: 32px;
        font-weight: 600;
    }
    .thin {
        color: $light;
        font-weight: 100;
        font-size: 24px;
    }
    button {
        border: 1px solid $light;
        border-radius: 4px;
        background: none;
        color: $light;
        padding: 8px 16px;
    }
    button:hover {
        background-color: $light;
        color: $dark;
    }
    .contact {
        gap: 32px;
        justify-content: center;

        $brandsColors: (
            github: $dark4,
            linkedin: $blue,
            instagram: $purple,
            whatsapp: $green,
        );

        a {
            text-decoration: none;
            font-size: 22px;

            .fi-sr-envelope:hover {
                color: $yellow;
            }
            i {
                @each $brand, $color in $brandsColors {
                    &.fi-brands-#{$brand}:hover {
                        color: $color;
                    }
                }
            }
        }
    }
}

@keyframes nameAnimation {
    0% {
        font-family: 'Geologica', sans-serif;
    }
    25% {
        font-family: 'Times New Roman', serif;
    }
    50% {
        font-family: monospace;
    }
    75% {
        font-family: cursive;
        line-height: 16px;
    }
}
