@import '../../../../colors';

.box {
    position: relative;
    width: 128px;
    height: 64px;
    background-color: $dark3;
    border-radius: 8px;

    .progress {
        height: 64px;
        border-radius: 8px;
    }
    .tag {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;

        .name {
            color: $light3;
            font-weight: 600;
        }
        .percentage {
            color: $light3;
            font-size: 13px;
        }
    }
}
@media screen and (max-width: 1050px){
    .box {
        width: 100px;
        height: 52px;

        .progress {
            height: 52px;
        }
        .tag {
            gap: 2px;

            .name {
                font-size: 14px;
            }
            .percentage {
                font-size: 12px;
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .box {
        height: 30px;

        .progress {
            height: 30px;
        }
        .tag {
            flex-direction: row;
            width: calc(100% - 8px);
            margin-left: 4px;
            gap: 4px;

            .name {
                font-size: 12px;
            }
            .percentage {
                font-size: 11px;
            }
        }
    }
}